# after mid

15simpson_3_8rule
14simpson_1_3rule
13trapezoidal_rule
16euler_method
17runge_kutta
18linear_fitting
19parabolic_fiting
20_regression_line

# before mid
8gauss_jarudan_method
7gauss_elimination_method
9gauss_serial_method
10newton_forward